.app-buttons-color {
    background-color: #FF6B71;

}

.app-background-color {
    background-color: #F8EDE9;
}

.app-menu-color {
    background-color: #163E6A;
}

.app-cards-color {
    background-color: #424044;
}

.dark-theme {}

.light-theme {}