.create-story-container {
    height: 100vh;
    width:100vw;
    background-color: grey;
    font-size: 1.5rem;
    display:flex;
    align-items: center;
}

.story-form{
    border-radius:10px;
    padding:10px;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:0px 40px;
    width:100%;
    height: 500px;
}
.text-field{
    box-sizing: border-box;
    border: solid #7a5cfa 2px;
    border-radius: 0.5rem;
    width: 100%;
    background-color: #424044;
    font-family: sans-serif;
    text-align: center;
    color:white;
    font-size: 1rem;
    &::placeholder{
        color:#f8ede9;
    }
    &.name{
        height:40px;
    }
    &.desc{
        max-height:500px;
        vertical-align: middle;
    }
}
.create-story-submit{
    border: none;
    border-radius: 10px;
    background-color: #FF6B71;
    width: 9rem;
    height: 2.5rem;
    line-height: 100%;
    padding: 0px;
}
.date-picker-container{
    margin: 10px 0px;
    display:flex;
    align-items: center;
}
.icon-selector{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-between;
    p{
        margin:0;
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }
    .icon{
        font-size: 1.5rem;
        background-color: rgba(#424044, 0);
        border:2px solid #7a5cfa;
        width:50px;
        text-align: center;
        padding:0;
        &:focus{
            background-color: #7a5cfa;
            border:2px solid #7a5cfa;
            outline: none;
        }
    }
}
.select-container{
    display:flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    width:90%;
    margin: 0px 20px;
    label{
        font-size: 16px;
    }
    select{
        border-radius: 10px;
        outline:none;
        height:24px
    }
    option{
        color:#7a5cfa;
        :hover{
            background-color: #7a5cfa;
        }
    }
}
.points-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    padding: 0px 10px;
    height: 55px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    label{
        font-size: 16px;
        margin:0;
        padding:0;
    }
    input{
        width: 100%;
        border: none;
        height:50%;
        text-align: center;
        outline: none;
        font-size: large;
        :hover{
            background-color: #7a5cfa;
        }
    }
}