.create-project-container {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.create-project-form {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;
    width: 100%;
    height: 450px;
}

.text-field {
    box-sizing: border-box;
    border: solid #7a5cfa 2px;
    border-radius: 0.5rem;
    width: 98%;
    background-color: #424044;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 1rem;

    &::placeholder {
        color: #f8ede9;
    }

    &.name {
        height: 40px;
    }

    &.desc {
        max-height: 500px;
        vertical-align: middle;
    }
}

.create-project-submit {
    border: none;
    border-radius: 10px;
    background-color: #FF6B71;
    width: 9rem;
    height: 2.5rem;
    line-height: 100%;
    padding: 0px;
}

.close-modal {
    border: none;
    border-radius: 10px;
    background-color: #7b7b7b;
    width: 9rem;
    height: 2.5rem;
    line-height: 100%;
    padding: 0px;
}

.modal-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-selector {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
        margin: 0;
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    .icon {
        font-size: 1.5rem;
        background-color: rgba(#424044, 0);
        border: 2px solid #7a5cfa;
        width: 50px;
        text-align: center;
        padding: 0;

        &:focus {
            background-color: #7a5cfa;
            border: 2px solid #7a5cfa;
            outline: none;
        }
    }
}

.date-picker-container {
    margin: 0;

    p {
        font-size: 1rem;
        padding: 0;
        margin: 0 10px 0 0;
    }

    padding: 0px 10px;
}